.btn.dropdown-toggle  {
    width:150px;
    text-align:left;
    opacity: 1;
    margin-left: 10px;
    padding-left: 10px;
}

span.caret {
    position: absolute;
    left: 90%;
    top: 45%;
}

label {
    padding-top:5px;
}

.form-label {
    padding: left 10px !important;
    justify-content: space-between;
    
}
form {
    justify-content: space-between;
}
a{
    color: black;
    text-align: center;
    font-style: bold;
    font-size: medium;
}
.form-control {
    padding-left: 10px;
    justify-content: space-between;
    font-style: bold;
}

#output{
    font-style: bold;
    color: black;
    border-width: 2px; 
    text-align: center;
    justify-content: space-between; 
    justify-content: center;
}

img {
    width: 180px;
    height:180px;
}

.btn-dark {
    background-color: #041508!important;
}

.btn-dark:hover {
    background-color: #611b84!important;
}

img.track {
    border: 1px solid #8a8a8a;
}

header {
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: xx-large;
    color: white
}

.container {
    background-color: gray;
    opacity: 0.9;
    overflow: scroll;
    border-color: black;
    border-style: outset;
    border-width: 10px; 
    justify-content: space-between; 
}

html, body {
  height: 100%
}


/* Style the video: 100% width and height to cover the entire window */
#myVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
  }
  
  /* Add some content at the bottom of the video/page */
  .content {
    position: fixed;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    color: #f1f1f1;
    width: 100%;
    padding: 20px;
  }
  
  /* Style the button used to pause/play the video */
  #myBtn {
    width: 200px;
    font-size: 18px;
    padding: 10px;
    border: none;
    background: #000;
    color: #fff;
    cursor: pointer;
  }
  
  #myBtn:hover {
    background: #ddd;
    color: black;
  }

  h2 {
      color:  black;
      font-style: bold;
  }

  h4 {
    color:  black;
    font-style: bold;
    text-indent: 130px;
  }
  
